.header-section{
    width: 100%;
    color: white;
    background: #1f2937;
    padding-bottom: 120px;
}

.main-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.3);
    height: 100px;
    overflow: hidden;
    margin-bottom: 50px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.main-header img{
    width: 170px;
    height: 170px;
    object-fit: contain;
    transform: translateX(-60px);
}

.main-header ul{
    display: flex;
    list-style: none;
    gap: 75px;
    font-size: 15px;
}

.main-header ul li{cursor: pointer;}

.main-header ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background: white;
    transition: 1s;
    display: block;
}

.main-header ul li:hover::after{
    width: 100%;
}

/*info section*/
.header-info{
    display: flex;
    justify-content: space-between;
    gap: 75px;
    padding: 0 200px;
}

.header-info img{
    width: 750px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    /*box-shadow: 0 0 1px 3px rgba(0,0,0, 0.15);*/
    flex-shrink: 1;
    flex-grow: 0;
    align-self: flex-end;
}

.header-info div{
    display: flex;
    flex-direction: column;
}

.header-info div h3{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    width: 500px;
}

.header-info div p{
    margin-top: 20px;
    font-size: 18px;
    color: #e5e7eb;
    width: 600px;
}

.header-info div button{
    width: max-content;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    padding: 12px 30px;
    background: #3882F6;
    color: white;
    font-weight: 600;
    box-shadow: 0 0 5px 3px rgba(0,0,0,0.15);
    cursor: pointer;
}

.custom-shape-divider-top-1704929021 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1704929021 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 96px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1704929021 .shape-fill {
    fill: #1F2937;
}